<div class="row">
  <div class="col-4 fw-bold">Model:</div>
  <div class="col-8 text-end">{{ starship.model }}</div>
</div>
<div class="row">
  <div class="col-4 fw-bold">cargo_capacity:</div>
  <div class="col-8 text-end">{{ starship.cargo_capacity }}</div>
</div>
<div class="row">
  <div class="col-4 fw-bold">Passengers:</div>
  <div class="col-8 text-end">{{ starship.passengers }}</div>
</div>
<div class="row">
  <div class="col-4 fw-bold">Length:</div>
  <div class="col-8 text-end">{{ starship.length }}</div>
</div>
