<main>
  <app-title>SW Game</app-title>
  <section>
    <div class="row" *ngIf="isGameStarted$ | async; else notStarted">
      <div class="col-5 row">
        <div class="col-10">
          <app-title>Player</app-title>
        </div>
        <div class="col-2 text-end">
          <h2>
            {{ playerPoints$ | async }}
          </h2>
        </div>
        <app-hero-card-grid></app-hero-card-grid>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-12 text-center">
            <button
              *ngIf="(playerDeck$ | async)?.length; else notStarted"
              mat-button
              (click)="nextRound()"
              data-testid="nextRoundBtn"
            >
              Next round
            </button>
          </div>
          <div
            *ngIf="playerCard$ | async as playerCard"
            class="col-6 p-2"
            data-testid="drawnPlayerCard"
            [ngClass]="{
              'border border-5 border-white': (winner$ | async) === 'player'
            }"
          >
            <app-hero-card
              [person]="playerCard"
              [limited]="true"
            ></app-hero-card>
          </div>
          <div
            *ngIf="cpuCard$ | async as cpuCard"
            class="col-6 p-2"
            data-testid="drawnCpuCard"
            [ngClass]="{
              'border border-5 border-white': (winner$ | async) === 'cpu'
            }"
          >
            <app-hero-card [person]="cpuCard" [limited]="true"></app-hero-card>
          </div>
        </div>
      </div>
      <div class="col-5 row">
        <div class="col-2 text-start">
          <h2>
            {{ cpuPoints$ | async }}
          </h2>
        </div>
        <div class="col-10">
          <app-title>CPU</app-title>
        </div>
        <app-hero-card-grid [isCpu]="true"></app-hero-card-grid>
      </div>
    </div>
  </section>
</main>

<ng-template #notStarted>
  <div *ngIf="{ people: (people$ | async) } as cards" class="row text-center">
    <div class="col-6">
      <button
        *ngIf="cards.people?.length; else spinner"
        mat-button
        (click)="startGame(cards.people!)"
      >
        Play as people
      </button>
    </div>
    <div class="col-6">
      <button mat-button [disabled]="true">Play as starships</button>
      <!-- TODO: Playing as starships -->
    </div>
  </div>
</ng-template>

<ng-template #spinner>
  <mat-spinner [diameter]="32" class="mx-auto"></mat-spinner>
</ng-template>
