<div class="row">
  <div class="col-6 fw-bold">Gender:</div>
  <div class="col-6 text-end">{{ person.gender }}</div>
</div>
<div class="row">
  <div class="col-6 fw-bold">Birth year:</div>
  <div class="col-6 text-end">{{ person.birth_year }}</div>
</div>
<div class="row">
  <div class="col-6 fw-bold">Height:</div>
  <div class="col-6 text-end">{{ person.height }}</div>
</div>
<div class="row">
  <div class="col-6 fw-bold">Eye color:</div>
  <div class="col-6 text-end">{{ person.eye_color }}</div>
</div>
