<mat-card
  class="h-100 pb-2"
  [attr.data-testid]="
    'card' + (isCpu ? 'Cpu' : 'Player') + (limited ? 'Limited' : 'Detailed')
  "
>
  <mat-card-header>
    <mat-card-title> {{ entity.name }} </mat-card-title>
    <mat-card-subtitle> {{ entity.power }} </mat-card-subtitle>
  </mat-card-header>
  <ng-container *ngIf="!limited">
    <mat-card-content>
      <app-person-card-details
        *ngIf="entity.type === 'person'"
        [person]="entity"
      ></app-person-card-details>
      <app-starship-card-details
        *ngIf="entity.type === 'starship'"
        [starship]="entity"
      ></app-starship-card-details>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-flat-button
        class="w-100"
        [disabled]="isCpu || (playerCard$ | async)"
        (click)="drawCard()"
      >
        Draw
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>
